In [2]:
cities_list=["Kathmandu","london","chicago","new york","Lahore"]
cities_list.sort(key=str.lower)
cities_list

['chicago', 'Kathmandu', 'Lahore', 'london', 'new york']

In [6]:
cities_list.sort()
cities_list

['Kathmandu', 'Lahore', 'chicago', 'london', 'new york']

In [7]:
cities_list.sort(reverse=True)
cities_list

['new york', 'london', 'chicago', 'Lahore', 'Kathmandu']

In [9]:
cities_list.sort(reverse=True,key=str.lower)
cities_list

['new york', 'london', 'Lahore', 'Kathmandu', 'chicago']

In [10]:
cities_list.reverse(key=str.lower)
cities_list

TypeError: list.reverse() takes no keyword arguments

In [11]:
cities_list.reverse()
cities_list

['chicago', 'Kathmandu', 'Lahore', 'london', 'new york']

In [14]:
country_list=["Nepal","England","India","USA"]
list_3=cities_list+country_list #Use "+" sign to combine two lists into a new list
list_3

['chicago',
 'Kathmandu',
 'Lahore',
 'london',
 'new york',
 'Nepal',
 'England',
 'India',
 'USA']

In [15]:
#.extend method to update list "+" sign to create new list
cities_list.extend(country_list)
cities_list

['chicago',
 'Kathmandu',
 'Lahore',
 'london',
 'new york',
 'Nepal',
 'England',
 'India',
 'USA']

# IF Statement

In [17]:
x=7
if x>5: #python separates blocks of code with indents or spacing
    print("x is greater than 5")

x is greater than 5

In [22]:
if x>8:
    print("x is more than 8")
else:
    print("x is less than 8")

x is less than 8

In [25]:
x=5
if x>6:
    print("x is more than 6")
elif x>4:
    print("x is more than 4")

x is more than 4

In [26]:
x=5
if x>6:
    print("x is more than 6")
elif x<4:
    print("x is more than 4")
else:
    print(" x is 5")

 x is 5

In [29]:
x=3
if x==3: print("x=3")

x=3

In [30]:
x=2
print("x=2") if x==2 else print("x is not equal to 2")

x=2

In [31]:
x=3
print("x=2") if x==2 else print("x is not equal to 2")

x is not equal to 2

In [32]:
if x<4:
    print("x<4")
    if x>2:
        print("x>2")
    else:
        print("x=3")

x<4
x>2

In [45]:
try:
    age=int(input("Age="))
    if age<18:
       print("Cannot vote")
    elif age>18:
        print("Can Vote")
    else:
        print("Get Citizenship")
except:
    print("ERROR!! Please enter a number!")

Age= 90

Can Vote

In [47]:
x=0
while x<=5:
    print(x)
    x+=1

0
1
2
3
4
5

In [49]:
age=input("age=")
if type(age)==int:
    print("a")
else:
    print("W")

age= w

W

In [54]:
x=0
while x<6:
    print(x)
    x+=1
    if x==4:
       break

0
1
2
3

In [58]:
x=0
while x<10:
    x+=1
    if x<4:
       continue
    print(x)

4
5
6
7
8
9
10