In [1]:
list=["one","two","three"]
for num in list:
    print(num)

one
two
three

In [2]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [5]:
for i in "python":
    if i!= "y":
        continue
    print(i)
    if i=="h":
        break

y

In [6]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [7]:
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [9]:
for i in range(1,10,2): #the third variable in range indicates which element to print
    print(i)

1
3
5
7
9

In [16]:
colors=["red","green","blue"]
objects=["table","chair","house"]
for i in colors:
    for j in objects:
        print(i,j)

red table
red chair
red house
green table
green chair
green house
blue table
blue chair
blue house

In [17]:
for i in range(1,6):
    for j in range(1,11):
        print(i,"*",j,"= ",i*j)

1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9
1 * 10 =  10
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

#FUNCTIONS

In [23]:
def add(x,y):
    return x+y

num1=int(input("num 1="))
num2=int(input("num 2="))

print(add(num1,num2))

num 1= 8
num 2= 9

17

In [24]:
add(3)

TypeError: add() missing 1 required positional argument: 'y'

In [25]:
add(,2)

SyntaxError: invalid syntax (2840358291.py, line 1)

In [26]:
add(' ',2)

TypeError: can only concatenate str (not "int") to str

In [27]:
add(int(' '),2)

ValueError: invalid literal for int() with base 10: ' '

In [28]:
def sub(x,y):
    return x-y

num1=int(input("num 1="))
num2=int(input("num 2="))

print(num1, "-" ,num2, " = ",sub(num1,num2))

num 1= 2
num 2= 3

2 - 3  =  -1

In [30]:
#arbitary argument

def add(*num):
    sum=0
    for i in num:
        sum +=i
    return sum

add(2,3,4)

9

In [31]:
def multiply(x,y=8):
    return x*y

multiply(3)

24

In [32]:
def multiply(x,y=8):
    return x*y

multiply(3,3)

9

In [33]:
def multiply(x=3,y):
    return x*y

multiply(3)

SyntaxError: parameter without a default follows parameter with a default (1279195959.py, line 1)

In [38]:
def multiply(x=3,y):
    return x*y

multiply(*,3)

SyntaxError: parameter without a default follows parameter with a default (3934933667.py, line 1)

#LAMBDA Fumction

In [39]:
sum= lambda x,y,z: x+y+z

sum(2,3,4)

9

In [40]:
sum= lambda x,y,z: x+y+z

sum(2,3)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [41]:
sum= lambda x,y,z: x+y+z

sum(2,,4)

SyntaxError: invalid syntax (3874641447.py, line 3)

In [42]:
sum= lambda x,y,z: x+y+z

sum(2, ,4)

SyntaxError: invalid syntax (4170602251.py, line 3)

#TUPLES

In [44]:
tuple_test=(1,2,3)

print(tuple_test*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [45]:
tuple_test[1]=4
tuple_test

TypeError: 'tuple' object does not support item assignment

In [46]:
tuple_test[1]

2

# Python Sets

In [47]:
set={2,4.4,"name","name",True}
print(set)

{True, 2, 4.4, 'name'}