#List

In [2]:
my_list=["hello",1,True]

['hello', 1, True]

In [6]:
days_of_week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
days_of_week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [7]:
len(days_of_week)

7

In [8]:
print(days_of_week[-1])

Saturday

In [9]:
#Ranged of indexes: list slicing
days_of_week_0_3=days_of_week[1:4] #Start from index 1 to index 3(4-1)
print(days_of_week_0_3)
print(days_of_week)

['Monday', 'Tuesday', 'Wednesday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [12]:
days_of_weeks=days_of_week[:3]#if no starting index start from 0 index
print(days_of_weeks)
days_of_week5=days_of_week[4:]#no ending index , start from the mentioned index and go to the end
print(days_of_week5)

['Sunday', 'Monday', 'Tuesday']
['Thursday', 'Friday', 'Saturday']

In [14]:
'Saturday' in days_of_week
'monday' in days_of_week

False

In [15]:
days_of_week[1]="Mon"
days_of_week

['Sunday', 'Mon', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [17]:
for x in days_of_week:
    print(x)

Sunday
Mon
Tuesday
Wednesday
Thursday
Friday
Saturday

In [20]:
days_of_week[2:4]=["Tue","Wed"]
days_of_week

['Sunday', 'Mon', 'Tue', 'Wed', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [21]:
days_of_week[2:3]=["tuesday"]
days_of_week

['Sunday',
 'Mon',
 'tuesday',
 'Wed',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday']

In [26]:
del days_of_week[4]
days_of_week
days_of_week[4]="Thursday"
days_of_week

['Sunday', 'Mon', 'tuesday', 'Wed', 'Thursday', 'Sat']

In [29]:
days_of_week[5:6]=["Fri",'Sat']#overrides the list and adds the values shifting the values 
days_of_week

['Sunday', 'Mon', 'tuesday', 'Wed', 'Thursday', 'Fri', 'Sat', 'Sat']

In [30]:
len(days_of_week)

8

In [33]:
days_of_week[1:3]=['monday']
print(days_of_week)
len(days_of_week)

['Sunday', 'monday', 'Fri', 'Sat', 'Sat']

5

# INSERT METHOD "list.insert(index,data)"

In [34]:
my_list=[1,2,3]
my_list.insert(1,"inserted")
my_list

[1, 'inserted', 2, 3]

In [36]:
my_list.insert(4,"end of list")
print(len(my_list))
my_list

6

[1, 'inserted', 2, 3, 'end of list', 'end of list']

In [38]:
length=len(my_list)
my_list.insert(length,"end")
my_list

[1, 'inserted', 2, 3, 'end of list', 'end', 'end of list', 'end']

In [39]:
my_list.insert(-1,"data")
my_list

[1, 'inserted', 2, 3, 'end of list', 'end', 'end of list', 'data', 'end']

# Append adds data at the end of the list

In [40]:
my_list.append(length)
my_list

[1, 'inserted', 2, 3, 'end of list', 'end', 'end of list', 'data', 'end', 7]

# Extend to add another lit to the end of a list

In [43]:
my_list.extend(100)
my_list

TypeError: 'int' object is not iterable

In [45]:
my_list.extend("200")
my_list

[1,
 'inserted',
 2,
 3,
 'end of list',
 'end',
 'end of list',
 'data',
 'end',
 7,
 '1',
 '0',
 '0',
 '2',
 '0',
 '0',
 '2',
 '0',
 '0']

In [46]:
my_list.extend(100,200)
my_list

TypeError: list.extend() takes exactly one argument (2 given)

In [47]:
my_list.remove('2')
my_list

[1,
 'inserted',
 2,
 3,
 'end of list',
 'end',
 'end of list',
 'data',
 'end',
 7,
 '1',
 '0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0']

In [48]:
my_list.remove(2)  #Only removes the first data that matches the argument
my_list

[1,
 'inserted',
 3,
 'end of list',
 'end',
 'end of list',
 'data',
 'end',
 7,
 '1',
 '0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0']

In [49]:
my_list.pop(5)  #takes index in place of value
my_list

[1,
 'inserted',
 3,
 'end of list',
 'end',
 'data',
 'end',
 7,
 '1',
 '0',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0']

In [51]:
my_list.pop() #removes the last data if no index is provided
my_list

[1,
 'inserted',
 3,
 'end of list',
 'end',
 'data',
 'end',
 7,
 '1',
 '0',
 '0',
 '0',
 '0',
 '2']

In [52]:
del my_list[0:4]
my_list

['end', 'data', 'end', 7, '1', '0', '0', '0', '0', '2']

In [53]:
del my_list[0,1]
my_list

TypeError: list indices must be integers or slices, not tuple

In [54]:
num_list=[1,2,3]
num_list

[1, 2, 3]

In [55]:
del num_list  #no index causes the del command to delete the wole list
num_list

NameError: name 'num_list' is not defined

In [56]:
my_list.clear()  #Clears the list of data
my_list

[]

In [57]:
months_list=["jan","april","dec","sept"]
months_list.sort()
months_list

['april', 'dec', 'jan', 'sept']

In [58]:
years=[123,234,900,1,4]
years.sort()
years

[1, 4, 123, 234, 900]

In [59]:
years.sort(reverse=True)
years

[900, 234, 123, 4, 1]

In [60]:
cities_list=["Kathmandu","london","new york","chitwan","Lahor"]
cities_list.sort()
cities_list

['Kathmandu', 'Lahor', 'chitwan', 'london', 'new york']