In [4]:
city_pop={
    "Chicargo":30,
    "New York":3.44,
    "LA":6
}

city_pop

{'Chicargo': 30, 'New York': 3.44, 'LA': 6}

In [5]:
city_pop[1]

KeyError: 1

In [6]:
city_pop["LA"]

6

In [7]:
city_pop["New York"]

3.44

In [8]:
city_pop.keys()

dict_keys(['Chicargo', 'New York', 'LA'])

In [9]:
city_pop.values()

dict_values([30, 3.44, 6])

In [10]:
city_pop.items()

dict_items([('Chicargo', 30), ('New York', 3.44), ('LA', 6)])

In [11]:
"LA" in city_pop

True

In [12]:
"Kathmandu" in city_pop

False

In [13]:
city_pop["LA"]=300 #to update values in dictionary
city_pop

{'Chicargo': 30, 'New York': 3.44, 'LA': 300}

In [14]:
city_pop["Kathmandu"]=3.4 #to add new value in dictionary
city_pop

{'Chicargo': 30, 'New York': 3.44, 'LA': 300, 'Kathmandu': 3.4}

In [15]:
city_pop.pop("LA") #deletes key and value from the dictionary
city_pop

{'Chicargo': 30, 'New York': 3.44, 'Kathmandu': 3.4}

In [17]:
city_pop.clear() #function cleards the dictionary
city_pop

{}

#OOP

In [18]:
class Student: #class name must start with an upper case letter
    pass
    

student1=Student()
student2=Student()

print(type(student1))

<class '__main__.Student'>

In [19]:
print(id(student1))

2441252499488

In [20]:
class Student1:
    school="School of Data Science"

student3=Student1
print(student3.school)

School of Data Science

In [21]:
print(student1.school)

AttributeError: 'Student' object has no attribute 'school'

In [22]:
student4=Student1
print(student4.school)

School of Data Science

In [39]:
# __init__ and self indicate constructor. 'self' defines the class itself

class Student2:
    #constructor
    def __init__(self, name, level):
        #instance variable
        self.name = name
        self.level = level

In [40]:
student7=Student2("manish",3)

In [44]:
class Student4:
    # Constructor
    def __init__(self, name, level):
        # Instance variables
        self.name = name
        self.level = level

    def __str__(self):
        return f'{self.name} is in level {self.level}'
        
    def levelup(self):
        self.level+=1


student7=Student4("Manish",3)

print(student7)

student7.levelup()

print(student7)

Manish is in level 3
Manish is in level 4

In [ ]:
# __str__